<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="navbar-fixed-bottom" data-th-fragment="footer">
    <div class="container">
        <p class="text-center">© 2018 <a href="http://mcwebsite.top">mcwebsite.top</a> </p>
    </div>
</footer>
<script src="/static/js/jquery-3.1.1.min.js" ></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/tether.js"></script>
<script src="/static/js/nprogress.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>