<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav data-th-fragment="page" data-th-if="${page.pages gt 0}" data-object="${page}">
    <!-- 处理页数小于7的情况 -->
    <ul class="pagination" data-th-if="${page.pages le 7}">
        <!-- 总数记录 -->
        <li class="tbpage-total-elements disabled">共[[${page.total}]]条</li>
        <!-- 页面大小 -->
        <select class="custom-select tbpage-size" data-th-attr="pageIndex=${page.pageNum}">
            <option data-th-each="i : ${#arrays.toIntegerArray({5,10,40,100})}" data-th-value="${i}"
                    data-th-select="${i eq page.pageSize}" data-th-text="${i}"></option>
        </select>
        <!-- 上一页 -->
        <li class="page-item" data-th-classappend="*{isFirstPage} ? 'disabled' : ''">
            <a href="javascript:void(0);" class="page-link tbpage-item" data-th-attr="pageIndex=${page.pageNum} - 1"
               aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <!-- 迭代器生成页码 -->
        <li class="page-item" data-th-each="i : ${#numbers.sequence(1, page.pages)}"
            data-th-classappend="${page.pageNum eq i} ? 'active' : ''">
            <a class="page-link tbpage-item" data-th-attr="pageIndex=${i}" href="javascript:void(0);">
                <span data-th-text="${i}"></span>
            </a>
        </li>

        <!-- 下一页 -->
        <li class="pagination" data-th-if="*{isLastPage} ? 'disabled' : ''">
            <a href="javascript:void(0);" class="page-link tbpage-item" data-th-attr="pageIndex=${page.pageNum} + 1" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>

</nav>
</body>
</html>