<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mcwebsite.blog.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id property="id" column="id" />
        <result property="username" column="user_name" />
        <result property="email" column="email" />
        <result property="avatr" column="avatr" />
        <result property="password" column="password" />
        <result property="userStatus" column="user_status" />
        <association property="authorities" column="{userId=id}" fetchType="lazy"
                     select="top.mcwebsite.blog.mapper.AuthorityMapper.selectByUserId" />
    </resultMap>
    <select id="selectAll" resultMap="userMap">
        SELECT id, user_name, email, avatr, password
        FROM blog_user
    </select>

    <select id="selectUserById" resultMap="userMap">
        SELECT id, user_name, email, avatr, password, user_status
        FROM blog_user WHERE id = #{userId}
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO blog_user(id, user_name, email, avatr, password)
        VALUES (#{id}, #{username}, #{email}, #{avatr}, #{password})
    </insert>

    <update id="update">
        UPDATE blog_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="avatr != null and avatr != ''">
                avatr = #{avatr},
            </if>
            <if test="password != null and password != ''">
                password = #{password}
            </if>
        </set>
        id = #{id}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM blog_user WHERE id = #{userId}
    </delete>

    <select id="selectUserByUsernameOrEmail" resultMap="userMap">
        SELECT id, user_name, email, avatr, password, user_status
        FROM blog_user
        WHERE user_name = #{condition} OR email = #{condition}
    </select>

    <select id="selectUserByUsername" resultMap="userMap">
        SELECT id, user_name, email, avatr, password
        FROM blog_user
        WHERE user_name = #{username}
    </select>

    <select id="selectUserByEmail" resultMap="userMap">
        SELECT id, user_name, email, avatr, password
        FROM blog_user
        WHERE email = #{email}
    </select>

    <update id="activeUser">
        UPDATE blog_user SET user_status = 0 WHERE user_name = #{username}
    </update>
</mapper>